{
  "parser": "babel-eslint",
  "env": {
    "browser": true,
    "es6": true
  },
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true
    },
    "ecmaVersion": 2019,
    "sourceType": "module"
  },
  "plugins": [
    "react"
  ],
  "rules": {
    "react/jsx-uses-react": "error",
    "react/jsx-uses-vars": "error",
    "jsx-quotes": ["error", "prefer-single"],
    "react/jsx-curly-spacing": [
      "error",
      {
        "when": "never"
      }
    ],
    "react/jsx-tag-spacing": [
      "error",
      {
        "closingSlash": "never",
        "beforeSelfClosing": "always",
        "afterOpening": "never",
        "beforeClosing": "never"
      }
    ],
    "react/jsx-equals-spacing": [
      "error",
      "never"
    ],
    "react/jsx-curly-brace-presence": [
      "error",
      "never"
    ],
    "react/jsx-props-no-multi-spaces": [
      "error"
    ],
    "react/jsx-pascal-case": [
      "error"
    ],
    "react/jsx-indent-props": [
      "error",
      2
    ],
    "react/jsx-boolean-value": [
      "error",
      "never"
    ]
  }
}
