{
  "env": {
    "es6": true
  },
  "extends": [
    "eslint:recommended",
    "plugin:import/errors",
    "plugin:import/warnings"
  ],
  "parserOptions": {
    "ecmaVersion": 2018
  },
  "plugins": [
    "import"
  ],
  "rules": {
    "indent": [
      "error",
      2
    ],
    "linebreak-style": [
      "error",
      "unix"
    ],
    "quotes": [
      "error",
      "single"
    ],
    "semi": [
      "error",
      "never"
    ],
    "comma-dangle": [
      "error",
      "never"
    ],
    "eol-last": [
      "error",
      "always"
    ],
    "no-trailing-spaces": [
      "error"
    ],
    "camelcase": [
      "error",
      {
        "properties": "always"
      }
    ],
    "import/no-unresolved": "error",
    "import/named": "error",
    "import/namespace": "error",
    "import/default": "error",
    "import/export": "error",
    "import/order": [
      "error",
      {
        "newlines-between": "always",
        "groups": ["builtin", "external", ["internal", "sibling", "parent"], "index"]
      }
    ],
    "max-len": [
      "error",
      {
        "code": 100
      }
    ],
    "prefer-const": [
      "error",
      {
        "destructuring": "all",
        "ignoreReadBeforeAssign": false
      }
    ],
    "arrow-spacing": [
      "error",
      {
        "before": true,
        "after": true
      }
    ],
    "space-before-blocks": [
      "error",
      "always"
    ],
    "object-curly-spacing": [
      "error",
      "always"
    ],
    "array-bracket-spacing": [
      "error",
      "never"
    ],
    "space-in-parens": [
      "error",
      "never"
    ],
    "keyword-spacing": [
      "error",
      {
        "before": true,
        "after": true
      }
    ],
    "template-curly-spacing": [
      "error",
      "never"
    ],
    "no-empty": [
      "error",
      {
        "allowEmptyCatch": true
      }
    ],
    "arrow-body-style": [
      "error",
      "as-needed"
    ]
  }
}
